#pistelista {
  text-align: ;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #676464;
  border-radius: 10px;
  background-color: white;
}

.style {
  background-color: rgb(224, 177, 35);
  opacity: 0.75;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

#function paint {
  position: absolute;
  color: blue;
}


   #canvas {
   width: auto;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border: 3px solid black;
 }

  h3 {
    text-align: center;
    font-family: "Comic Sans MS",  sans-serif;
  }

  div.a {
width: 50px;
height:50px;
 background-color:red;
position: fixed;

}

.hide {
  display: none;
}
